<div class="d-flex flex-column">
  <div class="d-flex justify-content-between">
    <p class="small mb-1"><%= message.user.email %></p>
    <div class="d-flex justify-content-between">
      <p class="small mb-1 text-muted me-2"><%= l(message.created_at, format: :short) %></p>
      <p class="small mb-1"><%= likes(message) %></p>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start">
    <div>
      <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;"><%= message.body %></p>
    </div>
  </div>
</div>
